.form-container {
    margin: 100px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

.form-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background: #ffa500;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    transition: background 0.3s;
}

.form-container input[type="submit"]:hover {
    background: #ff8000;
}
